#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	dh_install
	# Drop directories replaced by symlinks
	for dir in cache exports logs photos tempimages templates_c; do \
		rm -rf debian/galette/usr/share/galette/$$dir; \
	done
	# Move config to /etc
	mkdir -p debian/galette/etc
	mv debian/galette/usr/share/galette/config debian/galette/etc/galette
	# Drop documentation installed in /usr/share/doc
	rm -rf debian/galette/usr/share/galette/docs

override_dh_fixperms:
	dh_fixperms
	chown www-data debian/galette/var/log/galette
	chown www-data debian/galette/var/cache/galette/cache
	chown www-data debian/galette/var/cache/galette/tempimages
	chown www-data debian/galette/var/cache/galette/templates_c
	chown www-data debian/galette/var/lib/galette/exports
	chown www-data debian/galette/var/lib/galette/photos

override_dh_installchangelogs:
	dh_installchangelogs galette/docs/CHANGES
